<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>1:1 문의</h1>
    <hr>
    {% for inquiry in inquiries %}
        <h2>({{ inquiry.get_category_display }}) {{ inquiry.title }}</h2>
        <p>{{ inquiry.content }}</p>
        <p><img src="{{ inquiry.image.url }}" alt="1:1문의 이미지"></p>
        <br>
        <p>작성자 : {{ inquiry.writer }} / 작성일 : {{ inquiry.created_at }} / 이메일 : {{ inquiry.email }} / 핸드폰번호 : {{ inquiry.phonenumber }}</p>

    <hr>    

    <!-- 해당 질문에 대한 답변 출력 -->
    {% for answer in inquiry.inquiry_answer.all %}
        <h2>답변</h2>
        <p>{{ answer.content }}</p>
        <p>작성자 : {{ answer.writer }} / 작성일 : {{ answer.created_at }}</p>
    {% endfor %}    

    {% endfor %}
</body>
</html>

